/*  Typography  

Font sizes (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 32 / 38 / 44 / 50 / 62 / 74 / 86 / 98 / 110

Font weights
 Default: 400
 Medium: 500
 Semi-bold: 600
 Bold: 700

Line heights
 Default: ?...
 Small: ?...
 Medium: 42px
 Paragraph default: 32px
 Heading default: 60px
 Large: 120px


Letter spacing: normal
Word spacing: normal
*/

.text-content {
  font-weight: normal;
  font-size: 2.4rem;
  line-height: 3.2rem;

  /* to remove  */
  margin-bottom: 56px;

  &--small {
    font-size: 1.6rem;
    line-height: 2.6rem;
  }

  &--big {
    font-size: 3.2rem;
    line-height: 4.2rem;

    /* to remove  */
    margin-bottom: 24px;
  }
}

.typo {
  &--EB-Garamond {
    font-family: "EB Garamond", serif;
  }

  &--Lato {
    font-family: "Lato", sans-serif;
  }

  &--regular {
    font-weight: 400;
  }

  &--bold {
    font-weight: 700;
  }

  &--dark {
    color: $darkColor;
  }

  &--lightenDark {
    color: $darkLightenColor;
  }

  &--gray {
    color: $grayColor;
  }
}
