/*  Utilities  */

/* centering rule */
.u-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* border utils */
.u-border-bottom {
  &--sm {
    border-bottom: $blackBorderBottom;
  }

  &--lg {
    border-bottom: $blackBorderBottomLG;
  }
}
