/*  Circle  */
.circle {
  margin: 0;
  background-color: $mainDarkRed;
  border-radius: 50%;
  display: inline-block;
}

.circle--flag {
  height: 108px;
  width: 108px;

  @mixin atMedium {
    height: 128px;
    width: 128px;
  }
}

.circle--big {
  height: 350px;
  width: 350px;

  @mixin atMedium {
    height: 400px;
    width: 400px;
  }

  @mixin atXLarge {
    height: 430px;
    width: 430px;
  }
}

.circle--big--init {
  position: absolute;
  top: 950px;
  left: -120px;
  z-index: -2;

  @mixin atMedium {
    top: 600px;
    left: -310px;
  }

  @mixin atXLarge {
    top: 795px;
    left: -165px;
  }
}
