/* Image container  */
.img-container {
  &--1 picture {
    width: 100%;
    padding-right: 0;

    @mixin atMedium {
      margin-right: 50px;
    }

    & img {
      margin-bottom: 50px;

      @mixin atMedium {
        margin-bottom: 0;
      }
    }
  }

  &--2 picture {
    width: 100%;

    /*
    @mixin atSmall {}
    */
  }
}
